extends layout

block content
  h1= title
  
  //- pre #{h(data)}
  
  ul
    each el in data
      p= el.id
        li
          a(href="./detail/"+el.title.value)= el.title.value
          //- a(href=`detail/${el.id}`)= el.title
  
  
  

  //- form(action ='/search' method='post')
  //-   label(for='search') Search a building!
  //-   input(id='searchItems' name='search' type='text')
